# Update Time: 2024-05-23 19:25
version: "3.4"

x-defines:
  service-common: &service-common-ref
    networks: [network_cluster]
    restart: always
  deploy-common: &deploy-common-ref
    mode: replicated
    replicas: 1
  placement-default: &placement-default-ref
    placement:
      constraints:
        - node.role == manager
        - node.labels.public == true
  driver-common: &driver-common-ref
    type: nfs
    o: addr=${NFS_SERVER},rw,nfsvers=4

services:
  # ------------------------------------------------------------
  # Authelia认证服务
  # ------------------------------------------------------------
  authelia:
    image: registry.${DOMAIN_SWARM}:${EXTERNAL_PORT}/authelia/authelia:4.38.8
    <<: *service-common-ref
    # expose:
    #   - 9091
    volumes:
      - nfs_authelia_config:/config
      - nfs_authelia_keys:/keys
    healthcheck:
      disable: true
    environment:
      TZ: ${TZ}
    deploy:
      labels:
        - traefik.enable=true
        - traefik.http.routers.authelia.rule=Host(`auth.${DOMAIN_SWARM}`,`auth.${DOMAIN_EMERGENCY}`)
        - traefik.http.routers.authelia.entryPoints=websecure
        - traefik.http.routers.authelia.middlewares=normal-chain@file
        - traefik.http.routers.authelia.tls.options=default
        - traefik.http.routers.authelia.service=authelia
        - traefik.http.services.authelia.loadbalancer.server.port=9091
        # - traefik.http.middlewares.auth.forwardAuth.address=http://authelia:9091/api/authz/forward-auth?authelia_url=https%3A%2F%2Fauth.${DOMAIN_SWARM}:${EXTERNAL_PORT}%2F
        - traefik.http.middlewares.auth.forwardAuth.address=https://auth.${DOMAIN_SWARM}:${EXTERNAL_PORT}/api/authz/forward-auth?authelia_url=https%3A%2F%2Fauth.${DOMAIN_SWARM}:${EXTERNAL_PORT}%2F
        - traefik.http.middlewares.auth.forwardAuth.trustForwardHeader=true
        - traefik.http.middlewares.auth.forwardAuth.authResponseHeaders=Remote-User,Remote-Groups,Remote-Email,Remote-Name
        # - traefik.http.middlewares.auth.forwardauth.authRequestHeaders.X-Forwarded-Proto=https
      <<: [*deploy-common-ref, *placement-default-ref]
    logging:
      driver: fluentd
      options:
        tag: docker.public.authelia
        fluentd-async-connect: "true"

  # ------------------------------------------------------------
  # Traefik反代路由服务
  # ------------------------------------------------------------
  traefik:
    # 网络差时更新版本耗时较长，影响服务访问，因此固定到v2.10.4，需要时再手动升级
    # image: traefik:latest
    image: registry.${DOMAIN_SWARM}:${EXTERNAL_PORT}/library/traefik:v2.10.4
    #以下CLI方式的静态配置，全部改为File静态配置在/etc/traefik/traefik.yml中配置
    #command:
    #- --api.insecure=true # set to 'false' on production
    #- --api.dashboard=true # see https://docs.traefik.io/v2.0/operations/dashboard/#secure-mode for how to secure the dashboard
    #- --api.debug=true # enable additional endpoints for debugging and profiling
    #- --log.level=DEBUG # debug while we get it working, for more levels/info see https://docs.traefik.io/observability/logs/
    #- --providers.docker=true
    #- --providers.docker.swarmMode=true
    #- --providers.docker.exposedbydefault=false
    #- --providers.docker.network=network_cluster
    #- --entryPoints.web.address=:80
    <<: *service-common-ref
    ports:
      # OpenWRT的iptables暂时不支持ingress模式,须使用host模式映射端口才能接收到来自主路由转发的WAN请求
      #- "8000:80" # HTTP
      - target: 80
        published: 8000
        protocol: tcp
        mode: host
      #- "8443:443" # HTTPS
      - target: 443
        published: 8443
        protocol: tcp
        mode: host
      #- "8080:8080"  # DashBoard
      #- "8022:8022"  # SSH
      - target: 8080
        published: 8080
        protocol: tcp
        mode: host
      - target: 8090
        published: 8090
        protocol: tcp
        mode: host
      #- "666:666"  # Authelia
      - target: 666
        published: 666
        protocol: tcp
        mode: host
    environment:
      # 直接使用Portainer容器内的环境变量
      ALICLOUD_ACCESS_KEY: ${ALICLOUD_ACCESS_KEY}
      ALICLOUD_SECRET_KEY: ${ALICLOUD_SECRET_KEY}
      ALICLOUD_REGION_ID: ${ALICLOUD_REGION_ID}
      CF_API_EMAIL: ${CF_API_EMAIL}
      CF_API_KEY: ${CF_API_KEY}
      DOMAIN_NAS: ${DOMAIN_NAS}
      DOMAIN_PVE: ${DOMAIN_PVE}
      DOMAIN_SWARM: ${DOMAIN_SWARM}
      DOMAIN_EMERGENCY: ${DOMAIN_EMERGENCY}
      TZ: ${TZ}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - nfs_traefik:/etc/traefik
    deploy:
      labels:
      #以下Labels方式的动态配置，全部改为File的动态配置在/etc/traefik/dynamic/*.yml中配置
      #- "traefik.enable=true"
      # Dashboard配置
      #- "traefik.http.routers.api.rule=Host(`traefik.${DOMAIN_SWARM}`)"
      #- "traefik.http.routers.api.service=api@internal" # Let the dashboard access the traefik api
      #- "traefik.http.routers.api.entrypoints=websecure" # Let the dashboard access the traefik api
      # Dashboard验证
      #- "traefik.http.routers.api.middlewares=api-auth@docker"
      #- "traefik.http.middlewares.api-auth.basicauth.users=waylon:$$apr1$$QkMu0EI5$$1TjyNCHvtlqrJpk9TFVvc."
      #- "traefik.http.services.dummyService.loadbalancer.server.port=9090"  # 增加了一个负载均衡的端品到taefik的dashboard业务，端口只要是业务没有用的随机的就可以
      # 全局重定向匹配路由规则，这里匹配了所有路由
      #- "traefik.http.routers.http-catchall.rule=HostRegexp(`{any:.+}`)"
      #- "traefik.http.routers.http-catchall.entrypoints=web"
      #- "traefik.http.routers.http-catchall.middlewares=normal-chain@file"
      #- "traefik.http.middlewares.https-redirect.redirectscheme.scheme=https"
      #- "traefik.http.middlewares.https-redirect.redirectscheme.permanent=true"
      #- "traefik.http.services.noop.loadbalancer.server.port=9999"
        - homepage.group=Base
        - homepage.name=Traefik
        - homepage.icon=traefik.png
        - homepage.href=https://traefik.${DOMAIN_SWARM}:${EXTERNAL_PORT}/
        - homepage.description=域名反向代理服务
        - homepage.ping=traefik
        - homepage.weight=10
        - homepage.widget.type=traefik
        - homepage.widget.url=https://traefik.${DOMAIN_SWARM}:${EXTERNAL_PORT}
        - homepage.widget.username=${HOMEPAGE_TRAEFIK_USERNAME}
        - homepage.widget.password=${HOMEPAGE_TRAEFIK_PASSWORD}
      <<: [*deploy-common-ref, *placement-default-ref]
    logging:
      driver: fluentd
      options:
        tag: docker.public.traefik
        fluentd-async-connect: "true"

  # ------------------------------------------------------------
  # 主页导航服务
  # ------------------------------------------------------------
  homepage:
    image: ghcr.nju.edu.cn/gethomepage/homepage:latest
    <<: *service-common-ref
    volumes:
      - nfs_homepage:/app/config # Make sure your local config directory exists
      - /var/run/docker.sock:/var/run/docker.sock:ro # (optional) For docker integrations
    deploy:
      labels:
        - traefik.enable=true
        - traefik.http.routers.homepage.rule=Host(`home.${DOMAIN_SWARM}`,`home.${DOMAIN_EMERGENCY}`)
        - traefik.http.routers.homepage.entrypoints=websecure
        - traefik.http.routers.homepage.service=homepage
        - traefik.http.routers.homepage.middlewares=auth,normal-chain@file,cors-headers@file
        - traefik.http.services.homepage.loadbalancer.server.port=3000
      <<: [*deploy-common-ref, *placement-default-ref]
    logging:
      driver: fluentd
      options:
        tag: docker.public.homepage
        fluentd-async-connect: "true"

  # ------------------------------------------------------------
  # Tailscale 异地组网服务
  # ------------------------------------------------------------
  headscale:
    image: registry.${DOMAIN_SWARM}:${EXTERNAL_PORT}/headscale/headscale:0.22.3
    command: headscale serve
    <<: *service-common-ref
    volumes:
      - nfs_headscale_config:/etc/headscale
      - nfs_headscale_data:/var/lib/headscale
    deploy:
      labels:
        - traefik.enable=true"
        - traefik.http.routers.headscale.rule=Host(`headscale.${DOMAIN_SWARM}`,`headscale.${DOMAIN_EMERGENCY}`)
        - traefik.http.routers.headscale.entrypoints=websecure
        - traefik.http.routers.headscale.service=headscale
        - traefik.http.routers.headscale.middlewares=normal-chain@file
        - traefik.http.services.headscale.loadbalancer.server.port=8080
        - traefik.http.routers.headscale-metric.rule=Host(`headscale-metric.${DOMAIN_SWARM}`)
        - traefik.http.routers.headscale-metric.entrypoints=websecure
        - traefik.http.routers.headscale-metric.service=headscale-metric
        - traefik.http.routers.headscale-metric.middlewares=normal-chain@file
        - traefik.http.services.headscale-metric.loadbalancer.server.port=9090
      <<: [*deploy-common-ref, *placement-default-ref]
    logging:
      driver: fluentd
      options:
        tag: docker.public.headscale
        fluentd-async-connect: "true"

  # ------------------------------------------------------------
  # Headscale WebUI
  # ------------------------------------------------------------
  headscale-webui:
    image: registry.${DOMAIN_SWARM}:${EXTERNAL_PORT}/ifargle/headscale-webui:latest
    <<: *service-common-ref
    volumes:
      - nfs_headscale_config:/etc/headscale:ro
      - nfs_headscale_ui:/data
    environment:
      HS_SERVER: https://headscale.${DOMAIN_SWARM}:${EXTERNAL_PORT}
      DOMAIN_NAME: https://hsui.${DOMAIN_SWARM}:${EXTERNAL_PORT}
      LOG_LEVEL: "Debug"
      AUTH_TYPE: oidc # Basic: basic auth模式
      # AUTH_TYPE: basic # oidc: oidc auth模式
      PUID: ${DOCKER_PUID}
      PGID: ${DOCKER_PGID}
      SCRIPT_NAME: "" #${HEADSCALE_SCRIPT_NAME}
      BASIC_AUTH_USER: ${HEADSCALE_BASIC_AUTH_USER}
      BASIC_AUTH_PASS: ${HEADSCALE_BASIC_AUTH_PASS}
      OIDC_AUTH_URL: https://auth.${DOMAIN_SWARM}:${EXTERNAL_PORT}/.well-known/openid-configuration
      OIDC_CLIENT_ID: ${HSUI_OIDC_CLIENT_ID}
      OIDC_CLIENT_SECRET: ${HSUI_OIDC_CLIENT_SECRET}
      KEY: ${HEADSCALE_KEY}
      TZ: ${TZ}
    deploy:
      labels:
        - traefik.enable=true
        - traefik.http.routers.headscale-webui.rule=Host(`hsui.${DOMAIN_SWARM}`,`hsui.${DOMAIN_EMERGENCY}`)
        - traefik.http.routers.headscale-webui.entrypoints=websecure
        - traefik.http.routers.headscale-webui.service=headscale-webui
        - traefik.http.routers.headscale-webui.middlewares=auth,normal-chain@file
        - traefik.http.services.headscale-webui.loadbalancer.server.port=5000"
        - homepage.group=Public
        - homepage.name=Headscale
        - homepage.icon=tailscale.png
        - homepage.href=https://hsui.${DOMAIN_SWARM}:${EXTERNAL_PORT}
        - homepage.description=Tailscale VPN服务
        - homepage.ping=headscale
        - homepage.weight=31
      <<: [*deploy-common-ref, *placement-default-ref]
    logging:
      driver: fluentd
      options:
        tag: docker.public.headscale-webui
        fluentd-async-connect: "true"

  # VPN代理服务
  # clash:
  #   image: dreamacro/clash:latest
  #   networks: [network_cluster]
  #   restart: on-failure
  #   volumes:
  #     - nfs_clash_config:/root/.config/clash
  #     - nfs_clash_ui:/ui
  #   # ports:
  #   #   - 7890:7890
  #   #   - 7891:7891
  #   #   - 9090:9090
  #   deploy:
  #     labels:
  #       - traefik.enable=true
  #       - traefik.http.routers.clash.rule=Host(`clash.${DOMAIN_SWARM}`)
  #       - traefik.http.routers.clash.entrypoints=websecure
  #       - traefik.http.routers.clash.service=clash
  #       - traefik.http.routers.clash.middlewares=normal-chain@file
  #       - traefik.http.services.clash.loadbalancer.server.port=9090
  #       - homepage.group=Base & Public
  #       - homepage.name=SwarmClash
  #       - homepage.icon=clash.png
  #       - homepage.href=https://clash.${DOMAIN_SWARM}:${EXTERNAL_PORT}/ui
  #       - homepage.description=SwarmClash科学代理服务
  #       - homepage.siteMonitor=http://clash:9090
  #       - homepage.weight=41
  #     mode: replicated
  #     replicas: 1
  #     placement:
  #       constraints:
  #         - node.role == manager
  #         - node.labels.type == vm

  # # Authentik认证服务
  # authentik-server:
  #   image: ghcr.nju.edu.cn/goauthentik/server:2024.4.2
  #   command: server
  #   networks: [network_cluster]
  #   restart: unless-stopped
  #   environment:
  #     AUTHENTIK_REDIS__HOST: redis
  #     AUTHENTIK_POSTGRESQL__HOST: postgres
  #     AUTHENTIK_POSTGRESQL__USER: ${AUTHENTIK_POSTGRESQL__USER}
  #     AUTHENTIK_POSTGRESQL__NAME: ${AUTHENTIK_POSTGRESQL__NAME}
  #     AUTHENTIK_POSTGRESQL__PASSWORD: ${AUTHENTIK_POSTGRESQL__PASSWORD}
  #     AUTHENTIK_SECRET_KEY: ${AUTHENTIK_SECRET_KEY}
  #     TZ: ${TZ}
  #   volumes:
  #     - nfs_authentik_media:/media
  #     - nfs_authentik_templates:/templates
  #   deploy:
  #     labels:
  #       - 'traefik.enable=true'
  #       - 'traefik.http.routers.authentik-server.rule=Host(`authentik.${DOMAIN_SWARM}`,`authentik.${DOMAIN_EMERGENCY}`)'
  #       - 'traefik.http.routers.authentik-server.entryPoints=websecure'
  #       - 'traefik.http.routers.authentik-server.middlewares=normal-chain@file'
  #       - 'traefik.http.routers.authentik-server.tls.options=default'
  #       - 'traefik.http.routers.authentik-server.service=authentik-server'
  #       - 'traefik.http.services.authentik-server.loadbalancer.server.port=9000'
  #     mode: replicated
  #     replicas: 1
  #     placement:
  #       constraints:
  #         - node.role == manager
  #         - node.labels.type == vm
  #         - node.labels.public == true

  # authentik-worker:
  #   image: ghcr.nju.edu.cn/goauthentik/server:2024.4.2
  #   command: worker
  #   networks: [network_cluster]
  #   restart: unless-stopped
  #   environment:
  #     AUTHENTIK_REDIS__HOST: redis
  #     AUTHENTIK_POSTGRESQL__HOST: postgres
  #     AUTHENTIK_POSTGRESQL__USER: ${AUTHENTIK_POSTGRESQL__USER}
  #     AUTHENTIK_POSTGRESQL__NAME: ${AUTHENTIK_POSTGRESQL__NAME}
  #     AUTHENTIK_POSTGRESQL__PASSWORD: ${AUTHENTIK_POSTGRESQL__PASSWORD}
  #     AUTHENTIK_SECRET_KEY: ${AUTHENTIK_SECRET_KEY}
  #     TZ: ${TZ}
  #   volumes:
  #     - nfs_authentik_media:/media
  #     - nfs_authentik_certs:/certs
  #     - nfs_authentik_templates:/templates
  #   deploy:
  #     mode: replicated
  #     replicas: 1
  #     placement:
  #       constraints:
  #         - node.role == manager
  #         - node.labels.type == vm
  #         - node.labels.public == true

networks:
  network_cluster:
    external: true

volumes:
  # 挂载NFS卷，用于Swarm集群node迁移时保持数据
  nfs_traefik:
    driver: local
    driver_opts:
      <<: *driver-common-ref
      device: :${NFS_DEVICE}/public/traefik
  nfs_authelia_config:
    driver: local
    driver_opts:
      <<: *driver-common-ref
      device: :${NFS_DEVICE}/public/authelia/config
  nfs_authelia_keys:
    driver: local
    driver_opts:
      <<: *driver-common-ref
      device: :${NFS_DEVICE}/public/authelia/keys
  nfs_authentik_media:
    driver: local
    driver_opts:
      <<: *driver-common-ref
      device: :${NFS_DEVICE}/public/authentik/media
  nfs_authentik_templates:
    driver: local
    driver_opts:
      <<: *driver-common-ref
      device: :${NFS_DEVICE}/public/authentik/templates
  nfs_authentik_certs:
    driver: local
    driver_opts:
      <<: *driver-common-ref
      device: :${NFS_DEVICE}/public/authentik/certs
  nfs_homepage:
    driver: local
    driver_opts:
      <<: *driver-common-ref
      device: :${NFS_DEVICE}/public/homepage
  nfs_clash_config:
    driver: local
    driver_opts:
      <<: *driver-common-ref
      device: :${NFS_DEVICE}/public/clash/config
  nfs_clash_ui:
    driver: local
    driver_opts:
      <<: *driver-common-ref
      device: :${NFS_DEVICE}/public/clash/ui
  nfs_headscale_config:
    driver: local
    driver_opts:
      <<: *driver-common-ref
      device: :${NFS_DEVICE}/public/headscale/config
  nfs_headscale_data:
    driver: local
    driver_opts:
      <<: *driver-common-ref
      device: :${NFS_DEVICE}/public/headscale/data
  nfs_headscale_ui:
    driver: local
    driver_opts:
      <<: *driver-common-ref
      device: :${NFS_DEVICE}/public/headscale-webui/data